//- @pugdoc
    name: Main template
    description: template for pages

doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

    include ../components/_head

    body

        include ../components/header

        main
            block content

        include ../components/footer

        .svg-sprite._hide
            //include ../../../dist/svg/sprite/sprite.svg