doctype transitional
html(lang='ru')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Новое сообщение с сайта: site
        style(type='text/css').
            .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;margin:0px auto;}
            .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
            .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
    body
        center
        h1 Новая заявка с сайта: site
        .tg-wrap
            table.tg
                tr
                    th(colspan='2') Данные заявки
                tr
                    td Дата и время заявки
                    td today
                tr
                    td Форма
                    td formname
                tr
                    td Имя
                    td name
                tr
                    td Телефон
                    td phone
                tr
                    th(colspan='2') Geo-данные заявки
                tr
                    td Страна
                    td country
                tr
                    td Регион
                    td region
                tr
                    td Город
                    td city
                tr
                    td Время в регионе
                    td reg_time
                tr
                    th(colspan='2') Источник заявки
                tr
                    td Источник рекламной компании
                    td utm_source
                tr
                    td Тип рекламной компании
                    td utm_medium
                tr
                    td Название рекламной кампании
                    td utm_campaign
                tr
                    td Идентификатор объявления рекламной кампании
                    td utm_content
                tr
                    td Ключевое слово в рекламной кампании
                    td utm_term
                tr
                    td Источник перехода
                    td referer
