doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

    include ../components/head/_head.pug

    body

        include ../components/page-header/_page-header.pug

        main
            block content

        include ../components/page-footer/_page-footer.pug

        include ../components/scripts/_scripts.pug
    //
    //    .svg-sprite._hide
    //        //include ../../../build/svg/sprite/sprite.svg