doctype
html(lang='ru', prefix='og: http://ogp.me/ns#')

    include ../components/head/_head.pug

    body

        include ../components/page-header/_page-header.pug

        block content

        include ../components/page-footer/_page-footer.pug
