aside.categories-block
    h2 Категории
    - for (y=0; y<2; ++y)
        ul.menu
            h3 Название
            - for (var x=0; x<10; ++x)
                li.item
                    a(href="javascript:void(0)").link Категория