main{
  width: calc(100% - 30% - 10px);
  border: solid 1px ;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;

  article.adv-item{
    border: solid 1px ;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
    &:first-child{
      margin-top: 0;
    }

    a.title{
      color: $dark;
    }
    h3{
      margin-top: 0;
    }

    ul.criteria{
      padding: 0;
      width: 50%;
      margin: 0;
    }
    li.item{
      display: inline-block;
      font-size: 12px;
    }

    .left{
      h4{
        margin: 10px 0;
      }
      p{
        margin: 5px 0;
        font-size: 12px;
      }
      .head{
        span.numbers{
          font-style: italic;
        }
      }
    }
    .right{
      margin-left: 10px;
      a.photo{
        @include transition(all, .5s);
        display: block;
        width: 100%;
        &:hover{
          transform: scale(2);
        }
        img{
          display: block;
          width: 100%;
          height: auto;
          min-width: 100px;
        }
      }

    }
  }

  .pagination-block{
    margin: auto;
    padding: 10px;
    ul.pagination{
      padding: 0;
      text-align: center;
    }
    li.item{
      display: inline-block;
      padding: 5px;
    }
    a.link{
      font-size: 12px;
      &.-active{
        color: darkred;
      }
    }
  }
}