main
    - for (k=0; k<5; ++k)
        article.adv-item._d-flex._justify-beetwen
            .left
                .head._d-flex._justify-beetwen
                    h3 Название
                    .price Цена:&nbsp
                        span.numbers 9999 &nbsp
                        span руб.
                ul.criteria
                    - for (var m=0; m<4; ++m)
                        li.item
                            a(href="javascript:void(0)").link Критерий
                h4 Описание
                p Текст описания текст описания текст описания текст описания текст описания
                h4 Комментарии
                p Комментарии администрации

            .right
                img(src="http://placehold.it/100x100/dddddd?text=photo" alt="photo")

    .pagination-block
        ul.pagination
            li.item
                a(href="javascript:void(0)").link= 1
            li.item
                a(href="javascript:void(0)").link.-active= 2
            li.item
                a(href="javascript:void(0)").link= 3