head
    title <?php echo $app['title']; ?>


    meta(charset="utf-8")

    // Set preload resources (https://w3c.github.io/resource-hints/)
    link(rel="prefetch" href="fonts/airport/regular/Airport.otf")

    // Main Meta information
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
    meta(name="keywords", content="")
    meta(name="description", content!="<?php echo $app['description']; ?>")
    meta(name="author", content="")

    // Meta Information
    meta(name="robots", content="index, follow")
    meta(name="language", content="Russian")
    meta(name="msapplication-tooltip", content!="<?php echo $app['title']; ?>")
    meta(name="msapplication-starturl", content!="<?php echo $app['domain']; ?>")
    meta(name="msapplication-tap-highlight" content="no")

    // Add to homescreen for Chrome on Android
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="application-name", content!="<?php echo $app['title']; ?>")
    link(rel="icon", type="image/png", sizes="192x192", href="img/favicon/android-icon-192x192.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="96x96", href="img/favicon/favicon-96x96.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")

    // Add to homescreen for Safari on iOS
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content!="<?php echo $app['title']; ?>")
    link(rel="apple-touch-icon", sizes="57x57", href="img/favicon/apple-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="img/favicon/apple-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="img/favicon/apple-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/apple-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="img/favicon/apple-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="img/favicon/apple-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="img/favicon/apple-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="img/favicon/apple-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-icon-180x180.png")

    // Web Application Manifest
    link(rel="manifest", href="manifest.json")

    // Tile icon for Win8 (144x144 + title color)
    meta(name="msapplication-TileColor", content="#ffffff")
    meta(name="msapplication-TileImage", content="img/favicon/ms-icon-144x144.png")
    meta(name="theme-color", content="#ffffff")

    // OpenGraph microformat
    meta(property="og:type", content="website")
    meta(property="og:title", content!="<?php echo $app['title']; ?>")
    meta(property="og:site_name", content!="<?php echo $app['title']; ?>")
    meta(property="og:url", content!="<?php echo $app['domain']; ?>")
    meta(property="og:description", content!="<?php echo $app['description']; ?>")
    meta(property="og:image", content="")

    // Twitter microformat
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content!="<?php echo $app['domain']; ?>")
    meta(name="twitter:creator", content="")
    meta(name="twitter:url", content="")
    meta(name="twitter:title", content!="<?php echo $app['title']; ?>")
    meta(name="twitter:description", content!="<?php echo $app['description']; ?>")
    meta(name="twitter:image", content="")
    meta(name="twitter:domain", content!="<?php echo $app['domain']; ?>")

    link(rel="canonical", href="/")
    link(rel="image_src", href="#")
    link(rel="shortlink", href="#")

    link(type="text/plain", rel="author", href="humans.txt")

    link(rel='stylesheet', href='css/app.min.css')

    // Site verification
    meta( name="google-site-verification" content!="<?php echo $app['googleSiteVerification']; ?>")
    meta( name="yandex-verification" content!="<?php echo $app['yandexVerification']; ?>")

    // Facebook Pixel Code
    script.
        !function (f, b, e, v, n, t, s) {
            if (f.fbq)return;
            n = f.fbq = function () {
                n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq)f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window,
                document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '<?php echo $app['facebookPixel']; ?>', {
            em: 'insert_email_variable,'
        });
        fbq('track', 'PageView');
        fbq('track', 'Lead');
    noscript
        img(height="1" width="1" style="display:none" src!="https://www.facebook.com/tr?id=<?php echo $app['facebookPixel']; ?>&ev=PageView&noscript=1")