header.page-header{

  .logo-block{
    margin: 0 -10px;
    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }

  form.search-form{
    width: 100%;
    padding: 10px 0;
    input.search{
      width: 70%;
      box-sizing: border-box;
      font-family:$font-family;
      font-size: 16px;
      &::placeholder{
        @include transition(text-indent,.5s);
        font-family:$font-family;
        font-size: 16px;
        text-overflow:ellipsis;
        text-indent: 0px;
      }
      &:focus::placeholder{
        @include transition(text-indent,.5s);
        text-indent: 500px;
      }
    }
    button.submit{
      width: 20%;
      box-sizing: border-box;
      font-family:$font-family;
      font-size: 16px;
    }
  }

}