header.page-header
    .container
        .row._justify-beetwen
            - for (var n=0; n<2; ++n)
                .btn-group
                    ul.menu
                        - for (var i=0; i<3; ++i)
                            li.item
                                a(href="javascript:void(0)").link Кнопка меню
        .row
            .logo-block
                img(src="http://placehold.it/640x150/dddddd?text=logo" alt="logotype")
        .row
            form.search-form._d-flex._justify-beetwen
                input(type="search" placeholder="Поиск").search
                button.submit Найти