include _mixin-advantage.pug
include ../btn/_mixin-btn.pug

section.page-advantages
    .container
        .row
            .column.-xs-12
                h2.h2-title#advantages Наши преимущества
        .row.wow.slideInLeft
            .column.-xs-12.-sm-6.-md-4
                +advantage('team.png','Команда','Работаем только с профессионалами')
            .column.-xs-12.-sm-6.-md-4
                +advantage('info.png','Информативность','Вы будете знать о каждом шаге и его результате незамедлительно')
            .column.-xs-12.-sm-6.-md-4
                +advantage('initional.png','Инициативность','Всегда предложим несколько вариантов решения любой задачи')
        .row.wow.slideInRight
            .column.-xs-12.-sm-6.-md-4
                +advantage('mim.png','Посредники','Мы работаем без них')
            .column.-xs-12.-sm-6.-md-4
                +advantage('reliability.png','Надежность','Деловая репутация для нас не пустое слово. Мы гордимся и дорожим своими клиентами')
            .column.-xs-12.-sm-6.-md-4
                +advantage('complicity.png','Сопричастность','Ваш успех - наша цель!')
        .row
            .column.-xs-12
                .action
                    +btn('Получить консультацию','javascript:void(0)')