include ../btn/_mixin-btn.pug
include  _mixin-page-text.pug

section.page-text
    .container
        .row
            .column.-xs-12
                +page-text('Экстренная кнопка','emergency','<p>В жизни человека часто случаются ситуации, когда  консультация и поддержка необходимы незамедлительно. Именно для этого и создана <span class="attention">«Красная кнопка»</span>. Мы максимально быстро, без лишних вопросов займемся  вашей задачей и, пройдя с вами все этапы, выполним её в кратчайшие сроки. Мы сами не раз сталкивались с необходимостью срочно решить проблему, но теряли много времени на ненужные действия. Поэтому,ценим время наших клиентов, предлагая только проверенные решения</p>')
        .row._justify-center
            .column.-xs-8.-md-6.-lg-4
                .action
                    +btn('НАЖМИТЕ','javascript:void(0)','','js-openModal')