include  _mixin-page-text.pug

section.page-text
    .container
        .row
            section.column.-xs-12
                +page-text('О НАС','about','<p>«Бизнес Решения» приветствуют Вас на нашем сайте.</p><p> Мы  молодая, активно развивающаяся компания в сфере консалтинга коммерческой недвижимости и оказания юридических услуг.  Несколько лет назад мы сами нуждались в помощи при выкупе помещения у Департамента городского имущества города Москвы и в соответствующих юридических консультациях. Не найдя хороших специалистов и самостоятельно пройдя весь путь от начала и до конца, было принято решение создать «Бизнес Решения» и оказывать квалифицированную помощь в данной области всем нуждающимся людям.</p><p>Со временем, мы поняли что задачи, которые ставят перед нами клиенты, часто выходят за рамки  юридических вопросов в сфере коммерческой недвижимости и иногда касаются гражданского или даже уголовного права. Поэтому мы нашли специалистов с успешной практикой в данных областях, чтобы качественно оказывать полный спектр необходимых услуг.</p>')
                .action
                    include ../page-logo/_page-logo.pug