include _mixin-service.pug

section.page-services#services
    .container
        .row
            .column.-xs-12
                h2.h2-title НАШИ УСЛУГИ
        .row
            .column.-xs-12.-md-6._p0
                +service('Недвижимость','service-1.png','<p> - Вы арендуете недвижимость у Департамента городского имущества г. Москвы и хотели бы приобрести недвижимость в собственность;</p><p> -Вы хотите арендовать помещение (здание) или выкупить его через аукцион;</p><p> - Вы хотите продать права аренды или продать договор купли-продажи;</p><p> - Вам отказывают из-за неузаконенной перепланировки, окончания срока действия договора (если заявление на выкуп до его окончания), отказываются продлевать договор аренды</p><p>Мы готовы Вам помочь!</p><p>Пошаговая проработка стратегии, подготовка и подача документов, проведение оценки, оптимизация стоимости недвижимости, представление Ваших интересов в суде.</p>')
            .column.-xs-12.-md-6._p0
                +service('Юридические <br/> услуги','service-2.png',"<p>Решение обратиться к юристу или адвокату всегда является сиюминутной безотлагательной необходимостью, связанной с бизнесом, решением семейных и личных вопросов, ограничением свободы и других,не терпящих отсрочки дел.</p><p> «Бизнес Решения» предоставляют услуги специалистов высокого уровня в уголовном и гражданском праве.</p><p> - Автоюристы – возврат водительского удостоверения при лишении, снятие ареста с автомобиля;</p><p> - Адвокаты уголовного права – представление интересов на всех стадиях уголовного процесса, смягчение приговора, защита от давления следствия и т.д.;</p><p> - Арбитражный юрист – представление интересов Вашего бизнеса;</p><p> - Земельные споры, взыскание долгов, жилищные споры, наследственные дела, раздел имущества и т.д.</p>")
