include _mixin-service.pug

section.page-services#services
    .container
        .row
            .column.-xs-12
                h2.h2-title НАШИ УСЛУГИ
        .row
            .column.-xs-12.-md-6._p0
                +service('Недвижимость','service-1.png','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in')
            .column.-xs-12.-md-6._p0
                +service('Юридические <br/> услуги','service-2.png','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in')
