section.page-services{
  &:after{
    content: '';
    display: block;
    height: 60px;
    width: 100%;
    margin-top: 50px;
    background-color:$main-bg;
  }
}

figure.service-block{
  overflow: hidden;
  perspective: 800px;
  position: relative;
  height: 700px;
  margin: 0;


  .front{
    @include transition(all,1s);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3{
    @include font-family('MinionPro-Regular');
    color: $second-text;
    font-size: 60px;
    text-align: center;
    margin: 0;
    position: relative;
    z-index: 5;
    @include mq($from: xs, $until: xl) {
      font-size: 40px;
    }
  }

  img.img{
    object-fit: cover;
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  figcaption.caption{
    @include transition(all,1s);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    transform:rotateY(180deg);
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 15px;
    text-align: center;
    background-color: $second-bg;
    height: 100%;

    .text{
      p{
        @include font-family('Calibri-Regular');
        color: $second-text;
        text-align: left;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 12px;
        @include mq($from: sm, $until: 1280px) {
          font-size: 16px;
        }
        @include mq($from: xs, $until: sm) {
          font-size: 12px;
        }
      }
    }



    .btn span{
      @include mq($from: lg, $until: 1280px) {
        font-size: 30px;
      }
      @include mq($from: sm, $until: lg) {
        font-size: 22px;
      }
      @include mq($from: xs, $until: sm) {
        font-size: 20px;
      }
      @include mq($from: xs, $until: 340px) {
        font-size: 14px;
      }
    }
  }

  &:hover .front{
    transform:rotateY(180deg);
  }
  &:hover figcaption.caption{
    transform:rotateY(360deg);
  }
}