._text-center{
  text-align: center;
}

._text-left{
  text-align: left;
}

._text-right{
  text-align: right;
}

._hide{
  display: none;
}

._invisible{
  visibility: hidden;
}

._wrap{
  overflow: hidden;
}

._d-flex{
  display: flex;
}

._justify-center{
  justify-content: center;
}

._justify-right{
  justify-content: flex-end;
}

._justify-arround{
  justify-content: space-around;
}

._justify-beetwen{
  justify-content: space-between;
}

._justify-left{
  justify-content: flex-start;
}

._align-center{
  align-items: center;
}

._align-bottom{
  align-items: flex-end;
}

._pull-left{
  float: left;
}

._pull-right{
  float: right;
}

._pl0{
  padding-left: 0;
}

._pr0{
  padding-right: 0;
}

._p0{
  padding: 0;
}

._h100{
  height: 100%;
}