.lead-banner
    .container._h100
        .row._h100
            .column.-xs-12.-md-5._d-flex._justify-right._align-center
                .logo
                    include ../page-logo/_page-logo--white.pug
            .column.-xs-12.-md-6._d-flex._justify-right._align-bottom
                .text
                    span Когда работа
                    span приносит
                    span удовольствие

