footer
    .container.page-footer
        .row._justify-beetwen
            - for (var n=0; n<2; ++n)
                .btn-group
                    ul.menu
                        - for (var i=0; i<3; ++i)
                            li.item
                                a(href="javascript:void(0)").link Кнопка меню
        .row._d-flex._justify-center
            span.copyright
                | © Название компании 2017