extends html/_page-template.pug
include  components/page-text/_mixin-page-text.pug

block content
    section.page-text
        .container
            .row
                section.column.-xs-12
                    +page-text('Соглашение об обрабтке персональных данных','agreement','<p>Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.<br><br>Все лица заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.<br><br>Под персональными данными Гражданина понимается нижеуказанная информация:<br><br>общая информация (Имя, телефон и адрес электронной почты); посетители сайта направляют свои персональные данные для получения услуг расчёта стоимости заказа.<br><br>Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение(обновление, изменение), использование, уничтожение.<br><br>Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.</p>')
                    .action
                        include components/page-logo/_page-logo.pug

    include components/page-services/_page-services.pug
    include components/page-advantages/_page-advantages.pug
