extends html/_page-template.pug

block content
    include components/lead-banner/_lead-banner.pug
    include components/page-text/_page-text.pug
    include components/page-text/_page-text--logo.pug
    include components/page-services/_page-services.pug
    include components/page-advantages/_page-advantages.pug
